<script src="{{ asset('bundles/elegantbootstraptemplate/js/jquery-3.2.1.min.js') }}" ></script>
<script src="{{ asset('bundles/elegantbootstraptemplate/js/popper.min.js') }}"></script>
<script src="{{ asset('bundles/elegantbootstraptemplate/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/elegantbootstraptemplate/js/bootstrap-toggle.min.js') }}"></script>
<script src="{{ asset('bundles/elegantbootstraptemplate/plugins/chart.min.js') }}"></script>
<script src="{{ asset('bundles/elegantbootstraptemplate/plugins/feather.min.js') }}"></script>
<script src="{{ asset('bundles/elegantbootstraptemplate/js/select2.min.js') }}"></script>
<script src="{{ asset('bundles/elegantbootstraptemplate/js/script.js') }}"></script>
<script>
    $('body').on('show.bs.modal', '.modal', function (event) {
        $(this).find(".modal-content").load(event.relatedTarget.href);
    });

    $('body').on('hidden.bs.modal', '.modal', function (event) {
        $(this).find(".modal-content").html('<div style="text-align: center"><img src="{{ asset('bundles/elegantbootstraptemplate/img/loading.gif') }}" style="width: 20px"/></div>');
    });
    $(document).ready(function() {
        $('.select2').select2();
    });
</script>