<aside class="sidebar">
    <div class="sidebar-start">
        <div class="sidebar-head">
            <a href="javascript:;" class="logo-wrapper" title="Home">
                <span class="sr-only">Home</span>
                <span class="icon logo" aria-hidden="true"></span>
                <div class="logo-text">
                    <span class="logo-title">WEB</span>
                    <span class="logo-subtitle">Scrapping</span>
                </div>
            </a>
            <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                <span class="sr-only">Toggle menu</span>
                <span class="icon menu-toggle" aria-hidden="true"></span>
            </button>
        </div>
       <div class="sidebar-body">
           
            <ul class="sidebar-body-menu">
                <li>
                    <a class="show-cat-btn" href="##">
                        <span class="icon document" aria-hidden="true"></span> Menu
                            <span class="category__btn transparent-btn" title="Open list">
                            <span class="sr-only">Open list</span>
                            <span class="icon arrow-down" aria-hidden="true"></span>
                        </span>
                    </a>
                    <ul class="cat-sub-menu">
                       <li>
                           <a href="javascript:;"> Sub Menu</a>
                       </li>
                    </ul>
                </li>
            </ul>
       </div>
    </div>
 </aside>