<link rel="shortcut icon" href="{{ asset('bundles/elegantbootstraptemplate/img/svg/favicon.png') }}" type="image/svg+xml">
<link rel="stylesheet" href="{{ asset('bundles/elegantbootstraptemplate/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/elegantbootstraptemplate/css/bootstrap-toggle.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/elegantbootstraptemplate/plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/elegantbootstraptemplate/css/select2.min.css') }}"/>
<link rel="stylesheet" href="{{ asset('bundles/elegantbootstraptemplate/css/style.min.css') }}">
<style>
    .container {
        max-width: 98% !important;
    }
    .btn-xs {
        font-size: 12px;
        line-height: 1.5;
    }

    .btn-xs {
        padding: 1px 5px;
    }

    .form-control {
        border: 1px solid #ced4da !important;
    }

    .hidden {
        display: none;
    }

    .card-header .heading-elements, .card-header .heading-elements-toggle {
        background-color: inherit;
        position: absolute;
        top: 10px;
        right: 20px;
        margin-bottom: .75rem;
    }
    
    .table thead {
        background-color: #eaecfa;
    }
    
    .table thead th {
        text-transform: uppercase;
    }
    
    .card-header, .card-footer, .modal-header {
        background-color: #eaecfa;
    }
    
    .modal-footer {
        background-color: #f2f3f7;
    }
    
    .table td, .table th {
        font-size: 12px;
    }
    
    .cat-sub-menu.visible a {
        opacity: 1 !important;
    }
</style>